* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*font-family: 'Cardo', serif;
font-family: 'Cinzel', serif;
font-family: 'Lemonada', cursive;
font-family: 'Lora', serif; **/
/* COLORES */
header {
  width: 100%;
  background-color: #3B7363;
}

.navheader {
  width: 99%;
  display: flex;
  flex-direction: row;
  flex-flow: row;
  background-color: #3B7363;
  justify-content: space-between;
  margin: 1%;
}
.navheader .nav1 {
  display: grid;
  grid-template-columns: 30% 40%;
  justify-content: space-between;
  align-items: center;
}
.navheader .navLogo {
  width: 30%;
  margin: 0.5%;
}
.navheader .nav2 {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
  margin: 1%;
  padding: 1%;
}
.navheader .nav2 .ulnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.navheader .nav2 .ulnav .linav {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-between;
  margin: 1%;
  padding: 1%;
}
.navheader .nav2 .ulnav .linav .nav-link {
  text-decoration: none;
  font-family: "Cinzel", serif;
  color: #bF894E;
  font-size: 1.5625rem;
  align-self: center;
  justify-content: space-between;
  margin: 0.3%;
  width: 100%;
}

.nav-link:hover {
  transform: scale(2);
  transition: 3s;
}

.body {
  background-color: #58bfa2;
}

.titProg {
  text-align: center;
  font-family: "Cinzel", serif;
  font-style: bold;
  font-size: 7rem;
  justify-content: center;
  margin: 1%;
  color: #243373;
}

.programCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 4%;
  margin-left: 7%;
  margin-right: 7%;
}

.card {
  width: 13.75rem;
  height: 17.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f2f2f3;
  border-radius: 12px;
  box-shadow: inset 5px 5px 10px rgba(169, 169, 170, 0.4666666667), inset -5px -5px 10px rgba(255, 255, 255, 0.4941176471);
}

.card .img {
  height: 100%;
  margin-top: 1.6em;
  width: 50%;
  border-radius: 50%;
  background: #f2f2f3;
  margin-bottom: 0.4em;
  box-shadow: -0.3125rem -0.3125rem 0.5rem rgba(255, 255, 255, 0.4784313725), 0.3125rem 0.3125rem 0.5rem rgba(169, 169, 170, 0.4784313725);
}

.card .info {
  text-align: center;
  margin-top: 0.4em;
  background: linear-gradient(120deg, rgb(0, 194, 255) 0%, rgb(0, 86, 255) 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card .info > span {
  font-weight: bold;
  font-size: 1.2em;
}

.card a {
  margin-top: 1em;
  color: #fff;
  text-decoration: none;
  background: linear-gradient(90deg, #58bfa2 0%, #3B7363 100%);
  padding: 0.5em 2em;
  border-radius: 0.7em;
}

.card a:active {
  box-shadow: inset 0.1875rem 0.1875rem 0.1875rem #0056ff, inset -0.1875rem -0.1875rem 0.1875rem #00c2ff;
}

footer {
  background: linear-gradient(90deg, #CC9254, #BF894E, #A67644, #805B34);
  margin-bottom: 0%;
  margin-top: 4%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.infoFoot {
  display: flex;
  align-self: center;
  justify-content: space-between;
}
.infoFoot .contactoFoot {
  display: flex;
  flex-direction: column;
  margin-right: 4%;
  margin-left: 4%;
}

.wrapper {
  display: inline-flex;
  list-style: none;
  height: 50px;
  width: 100%;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  -ms-flex-align: start;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
