.body{
    background-color: $color2;
    
  .mainIndex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .titIndex{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        color: $color4;
        margin-top: 2%;
        margin-bottom: 1%;
        justify-content: space-between;
        
        
        h1{
            font-size: 4.3rem;

        }
        h2{
            font-size: 3rem;
        }
    }
  }
}


.banner{
    display: flex;
    align-self: center;
    justify-content: center;
    width: fit-content;
    padding: 1.5%;

}

.circulos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .circulosImg{
        width: 30%;
        align-self: center;
        align-items: center;
        justify-content: space-between;
        border-color: $color3;
        border-radius: 50%;
        border-width: 3%;
    }

    .pCualidades{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 1.25rem;
        font-family:'Cardo', serif; 
        text-align: center;
        margin-top: 3%;
        margin-bottom: 3%;

    }
}