footer{
    background: linear-gradient(90deg,#CC9254 ,#BF894E,#A67644,#805B34);
    margin-bottom: 0%;
    margin-top: 4%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.marca{
    align-self: center;
    font-size:xx-small;
    font-style: bold;
}
.infoFoot{
    width: 100%;
    display: flex;
    align-self: center;    

.btn{
  border-radius: 50%
}
}