header{
    .navbar{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    .nav1{
        .navbar-nav{
            .nav-item{
                list-style: none;
                .nav-link{
                    text-decoration: none;
                }
            }
        }
    }
    }
}