/*font-family: 'Cardo', serif;
font-family: 'Cinzel', serif;
font-family: 'Lemonada', cursive;
font-family: 'Lora', serif; **/

/* COLORES */
$color1 : #3B7363;
$color2: #58bfa2;
$color3: #bF894E;
$color4: #243373;
$color5: #455DBF;


