/*font-family: 'Cardo', serif;
font-family: 'Cinzel', serif;
font-family: 'Lemonada', cursive;
font-family: 'Lora', serif; **/

/* COLORES */
$color1: #52C7AA;
$color2: #65F9D4;
$color3: #AD4524;
$color4: #327A68;
$color5: #B2FBE9;


